@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Poppins:400,500,600,700&display=swap');


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  a small {
    color: inherit;
  }
}