*,
body {
  box-sizing: border-box;
  font-family: 'Darker Grotesque' !important;
  font-size: 1.25em;
  font-weight: bold;
  font-size: 1.25vw;
}
a {
  cursor: pointer;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  a small {
    color: inherit;
  }
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.btn-primary {
  @extend .btn;

  background: linear-gradient(154.02deg, #f81872 23.56%, #27216e 145.22%);
  border: none;
}

.btn-secondary {
  @extend .btn;

  background: transparent;
  border: 2px solid #f81872;
}

.mr-24 {
  margin-right: 24px;
}

.mt-7 {
  margin-top: 7%;
}

.mt-12 {
  margin-top: 12%;
}
