@import '../styles/globalStyles.scss';

.landing-div {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
}

#graphql-asia-logo {
  width: 227px;
}

#main-heading {
  font-weight: 800;
  line-height: 90px;
  font-size: 100px;
  color: #f8f8f8;
  text-align: center;
  margin-top: 3%;
  font-family: 'Darker Grotesque';
}

#heading-desc {
  font-family: Darker Grotesque;
  font-weight: 600;
  font-size: 32px;
  line-height: 96%;
  text-align: center;
  color: #a8a8a8;
  margin-top: 3.5%;
}
.heading-desc-small {
  font-family: Darker Grotesque;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #a8a8a8;
  margin-top: 3.5%;
  a {
    color: #f81872;
    &:hover {
      color: #f81872;
    }
  }
}
.textLeft {
  text-align: left !important;
}
.whiteColor {
  color: #fff !important;
}
.right-arrow {
  margin-left: 7px;
  font-size: 20px;
}

.landing-footer-nav {
  border-right: 2px solid #a8a8a8;
  height: 23px;
  padding-right: 25px;
  margin-right: 25px;

  a {
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 24px;
    line-height: 96%;
    white-space: nowrap;
    text-decoration: none !important;

    color: #a8a8a8;

    &:hover {
      color: #f81872;
    }
  }
}
#graphql-asia-link {
  border: none;

  a {
    line-height: 10px;
  }
}

.landing-cta-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-btn {
  margin-left: 24px;
}

.footer-section-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#twitter-icon {
  margin-right: 8px;
}

.policy-text {
  font-family: Darker Grotesque;
  font-weight: 600;
  font-size: 20px;
  color: #717780;
  margin-bottom: 30px;
  text-align: center;

  a {
    text-decoration: underline !important;
    color: #717780 !important;

    &:hover {
      color: #f81872 !important;
    }
  }
}

@media screen and (min-width: 1000px) {
  #heading-desc {
    padding-right: 7%;
  }
}

// Mobile optimizations + landscape mode.

@media screen and (max-width: 800px) {
  .landing-div {
    padding-top: 10%;
  }

  #graphql-asia-logo {
    width: 180px;
  }

  #main-heading {
    font-size: 50px;
    margin-top: 4.2%;
    line-height: 1.2;
  }

  #heading-desc {
    font-size: 22px;
  }

  .footer-section-div {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .landing-footer-nav {
    border: none;
    margin: 0 0 35px 0;
    padding: 0;

    a {
      font-size: 18px;
    }
  }

  .landing-cta-div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .signup-btn {
    margin: 20px 0 0 0;
  }

  #twitter-icon {
    width: 15px;
    margin-right: 5px;
  }
}
