@import '../styles/globalStyles.scss';

.landing-div {
  min-height: 100vh;
  width: 100%;
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6.5%;
}

#graphql-asia-logo {
  width: 227px;
}

#main-heading {
  font-weight: 800;
  line-height: 90px;
  font-size: 100px;
  color: #f8f8f8;
  text-align: center;
  margin-top: 4.5%;
  font-family: 'Darker Grotesque';
}

#heading-desc {
  font-family: Darker Grotesque;
  font-weight: 600;
  font-size: 32px;
  line-height: 96%;
  text-align: center;
  color: #a8a8a8;
  margin-top: 30px;
}

.landing-cta-div {
  margin-top: 9%;
}

.right-arrow {
  margin-left: 7px;
  font-size: 20px;
}

.landing-footer-nav {
  border-right: 2px solid #a8a8a8;
  height: 23px;
  padding-right: 25px;
  margin-right: 25px;

  a {
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 24px;
    line-height: 96%;

    color: #a8a8a8;

    &:hover {
      color: #f81872;
    }
  }
}

#graphql-asia-link {
  border: none;
  a {
    line-height: 10px;
  }
}

@media screen and (min-width: 1000px) {
  #heading-desc {
    padding-right: 7%;
  }
}
