// @import '../styles/globalStyles.scss';

.advertisement-site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.red-text {
  color: #c63939;
}

.mainHeading {
  font-size: 5em;
  color: #c63939;
  font-weight: bold;
  line-height: 96%;
}

.marketing-header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 7% 0;

  img {
    padding-bottom: 10px;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.light-hr {
  border: 0;
  margin: 0;
  border-top: 25px solid #f6e6d3;
}

.red-hr {
  border: 0;
  margin: 0;
  border-top: 10px solid #c63939;
}

.marketing-footer-section {
  display: flex;
  justify-content: space-between;
  padding: 48px 7% 72px;
}

.marketing-landing-banner {
  padding: 7%;
  font-family: Darker Grotesque;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid #f5e7d3;

  h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #c63939;
    margin: 24px 0px 16px;
    white-space: pre-wrap;
    padding: 0;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #f5e7d3;
  }
}
.noPadd {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ml-20 {
  margin-left: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-30 {
  margin-left: 30px;
}

.signup-form-wrapper {
  background: #c63939;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  max-height: 450px;

  img {
    width: 100%;
  }

  .signup-form-div {
    padding: 48px 60px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 120%;
      color: #f5e7d3;
      margin: 0;
    }

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 220%;
      text-transform: uppercase;
      padding: 24px 0px 24px;
    }

    form {
      width: 100%;
      display: flex;
      height: 53px;
      border: none;

      input {
        width: 100%;
        background: #f5e7d3;
        padding: 0 14px;
        border: none;
        font-size: 18px;
        color: #000;
        outline: none;
      }

      button {
        background: #000;
        color: #f5e7d3;
        border: none;
        padding: 0 48px;
      }
    }
  }
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.workshops-section-wrapper {
  padding: 0 7%;

  .workshops-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 50px 0;
    border-top: 1px solid #f5e7d3;
    border-bottom: 1px solid #f5e7d3;

    h2 {
      font-family: Darker Grotesque;
      font-weight: bold;
      font-size: 40px;
      line-height: 120%;
      margin: 0;
      color: #c63939;
    }

    .workshop-illustration {
      margin-right: -8.25%;
    }

    .workshops {
      padding-left: 38px;

      .workshop-div {
        align-items: flex-start;
        padding-top: 10px;
        margin-bottom: 30px;

        img {
          margin: 12px 25px 0 0;
        }

        h2 {
          font-weight: 600;
          font-size: 30px;
          line-height: 120%;
          color: #f5e7d3;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: #f5e7d3;
          margin-top: 5px;
        }
      }
    }
  }
}

.talks-wrapper-div {
  padding: 70px 7%;
}

.talks-wrapper {
  align-items: flex-start;

  h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
    color: #c63939;
  }

  .talks-section {
    flex-wrap: wrap;
    // padding-left: 15px;

    .talk-div {
      display: flex;
      align-items: flex-start;
      margin-bottom: 60px;

      img {
        margin: 12px 25px 0 0;
      }

      .speaker-img {
        width: 69px;
        filter: grayscale(100%);
        margin: 0;
      }

      h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        color: #f5e7d3;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        color: #f5e7d3;
        margin-top: 3px;
        margin-bottom: 0;
      }

      .speaker-details {
        margin-left: 24px;

        h2 {
          color: #c63939;
          font-weight: 600;
          font-size: 18px;
        }

        p {
          color: #f5e7d3;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
}

.more-speakers-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 220%;
  text-transform: uppercase;
  color: #f5e7d3;
  margin-top: -60px;
}

#register-form {
  .mktoFormRow {
    // width: 100%;
    input {
      width: 100% !important;
    }
  }

  button {
    white-space: nowrap !important;
    height: 56px;
    background: #000 !important;
    min-width: 150px;
    // padding: 0 40px !important;
  }

  button:hover {
    // color: #000 !important;
    // background: #f5e7d3 !important;
  }
}
.graphQLMktoForm {
  .mktoFormRow {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 150px);
    .mktoFieldDescriptor {
      .mktoFieldWrap {
        .mktoField {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
  .mktoButtonRow {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    .mktoButtonWrap {
      .mktoButton {
        padding: 10px 25px !important;
      }
    }
  }
}
.thankyou-wrapper {
  width: 85%;
  margin: 100px auto 0;
}

// Tablet / Ipad optimizations ********** //

@media screen and (max-width: 1050px) {
  .main-landing-section {
    display: flex;
    flex-direction: column;

    .banner-section {
      flex-direction: column;
      margin-bottom: 0;
    }

    .marketing-headlight-div {
      margin: 0;
      margin-bottom: 48px;
    }
  }
}
.mobileShowPattern {
  display: none;
}
// Mobile Optimizations ****************** //

@media screen and (max-width: 900px) {
  .mobileHidePattern {
    display: none;
  }
  .mobileShowPattern {
    display: block;
  }
  .marketing-header-section {
    padding: 32px 7% 0;
    flex-direction: column;
    p {
      font-size: 20px;
      line-height: 220%;
      color: #F5E7D3;
    }
    #gqla-logo {
      width: 90px;
      padding: 0;
    }

    .articleDesc {
      white-space: nowrap;
      font-size: 16px;
    }

    .mainHeading {
      font-weight: bold;
      font-size: 54px;
      line-height: 96%;
      margin: 50px 0;
      margin-bottom: 24px;
    }
    .buttonWrapper {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 1;
      .darkBtn {
        width: 100%;
      }
    }
    .mobile-signup-form-wrapper {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 10;
      background-color: #c63939;
      transition: all .3s ease-in-out;
      .closeBtn {
        background-color: #F5E7D3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 46px;
        width: 46px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        img {
          width: 15px;
          padding-bottom: 0;
        }
      }
    }
    .show-signup-form-wrapper {
      transform: translateY(0);
    }
    .signup-form-wrapper {
      display: block;
      height: auto;
      position: relative;
      img {
        padding-bottom: 0;
        height: 46px;
      }
      .signup-form-div {
        padding: 15px 32px;
        padding-top: 5px;
        h2 {
          font-size: 32px;
          line-height: 120%;
        }
        p {
          font-weight: bold;
          font-size: 20px;
          line-height: 220%;
          color: #F5E7D3;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: 0;
        }
        form {
          display: block;
          height: auto;
        }
      }

      .graphQLMktoForm {
        width: 100% !important;
        .mktoFormRow {
          position: static;
          width: 100% !important;
        }
        .mktoButtonRow {
          position: static;
          width: 100% !important;
        }
      }
    }
  }

  .marketing-landing-banner {
    flex-direction: column;
    justify-content: flex-start;

    .banner-section {
      flex-direction: column;
      margin-bottom: 0;
    }

    .marketing-headlight-div {
      margin: 0;
      margin-bottom: 48px;
    }
  }
  .workshop-wrapper-div {
    flex-direction: column;
  }

  .workshops {
    padding-left: 0px !important;
    margin-top: 48px;
  }

  .workshop-illustration {
    display: none;
  }

  .marketing-footer-section {
    padding: 32px 7% 60px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;

    .articleDesc {
      margin-top: 20px;
    }
  }

  .talks-wrapper {
    flex-direction: column;
  }

  .more-speakers-section {
    margin-top: 0px;
  }
}
