@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Poppins:400,500,600,700&display=swap');
.lightGrayBgColor {
  background-color: #f6f6f6;
}
.pinkBgColor {
  background-color: #f81894;
}
.blockBgColor {
  background-color: #111111;
}
.wd100 {
  width: 100%;
  float: left;
}
.wd90 {
  width: 90%;
  margin: 0 auto;
}
.wd60 {
  width: 60%;
  margin: 0 auto;
}
.transparentBtnNav, .transparentBtn,  .whiteBtn, .blueBtn{
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 4px;
  text-align: left;
  &:focus {
    outline: none;
  }
}
.transparentBtnNav, .transparentBtn {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  &:hover {
    opacity: 1;
    background-color: #fff;
    color: #27216e;
  }
}
.transparentBtnNav {
  padding: 12px 24px;
  opacity: 0.85;
  font-weight: normal;
}
.transparentBtn, .whiteBtn, .blueBtn {
  padding: 18px 24px;
}
.whiteBtn {
  border: 2px solid #ffffff;
  background-color: #fff;
  color: #27216e;
  &:hover {
    background-color: #27216e;
    color: #fff;
  }
}
.blueBtn {
  background-color: #27216e;
  border: 2px solid #27216e;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #27216e;
  }
}
.sendMessageBtn {
  background-color: transparent;
  border: 0;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4px;
  color: #f81894;
  padding: 0;
  border-bottom: 1px solid transparent;
  img {
    margin-left: 14px;
  }
  &:focus {
    outline: none;
  }
}
.fontNormal {
  font-weight: normal !important;
}
.fontBold {
  font-weight: bold !important;
}
.letterSpacing {
  letter-spacing: 4.8px;
}
.sectionWrapper {
  padding: 120px 0;
}
.sectionWrapperSmall {
  padding: 50px 0;
}
.borderRight {
  border-right: 1px solid rgba(39, 33, 110, .24);
}
.contactBorRight {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.contactBorBottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footerBorTop {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.noPadd {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.removePaddBottom {
  padding-bottom: 0 !important;
}
.positionBottom {
  padding-bottom: 240px !important;
}
.positionTop {
  padding-top: 340px !important;
}
.displayFlex {
  display: flex !important;
}
img {
  margin-bottom: 0 !important;
}
.gradientBgColor
{
  background-color: #f81894;
  /* Safari 4-5, Chrome 1-9 */
  background-image: linear-gradient(#f81894, #27216e);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f81894), to(#27216e));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f81894, #27216e);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f81894, #27216e);
  /* IE 10 */
  background: -ms-linear-gradient(top, #f81894, #27216e);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f81894, #27216e);
}
.purpleGradientBgColor
{
  background-color: #6b096a;
  /* Safari 4-5, Chrome 1-9 */
  background-image: linear-gradient(#6b096a, #250687);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6b096a), to(#250687));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #6b096a, #250687);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #6b096a, #250687);
  /* IE 10 */
  background: -ms-linear-gradient(top, #6b096a, #250687);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #6b096a, #250687);
}
.blueGradientBgColor
{
  background-color: #1b1653;
  /* Safari 4-5, Chrome 1-9 */
  background-image: linear-gradient(#1b1653, #0c0a24);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b1653), to(#0c0a24));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #1b1653, #0c0a24);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #1b1653, #0c0a24);
  /* IE 10 */
  background: -ms-linear-gradient(top, #1b1653, #0c0a24);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #1b1653, #0c0a24);
}
.pageHeader {
  font-family: 'Poppins';
  font-size: 100px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.graphQlHeader {
  font-family: 'Poppins';
  font-size: 44px;
  font-weight: bold;
  letter-spacing: normal;
  color: #ffffff;
}
.graphQlDescription {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.sectionHeader {
  font-family: 'Poppins';
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 6px;
}
.sectionSubHeader {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.pageDescription {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  a {
    color: #f81894;
  }
  a:hover {
    color: #f81894;
    text-decoration: none;
    border-bottom: 1px solid #f81894;
  }
}
.successMessage,  .errorMessage{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  padding-top: 20px;
  padding-bottom: 10px;
  .successMessageSmall {
    font-size: 14px;
    color: #fff;
  }
}
.successMessage {
  color: #00ff00;
}
.errorMessage {
  color: #ff0000;
}
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.sendingMessage {
  span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    &:nth-child(2) {
      animation-delay: .2s;
    }
    &:nth-child(3) {
      animation-delay: .4s;
    }
  }
}
.contactName {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  opacity: 0.88;
  a {
    color: #ffffff;
    opacity: 0.88;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }
  }
}
.copyRight {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  color: #111111;
  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
.blueLink, .pinkLink {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4px;
  cursor: pointer;
  display: flex;
  a {
    opacity: .9;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  img {
    margin-left: 14px;
  }
}
.blueLink {
  a {
    color: #1b1653;
    &:hover {
      color: #1b1653;
    }
  }
}
.pinkLink {
  a {
    color: #f81894;
    &:hover {
      color: #f81894;
    }
  }
}
.details {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.8px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.headerWrapper {
  color: #fff;
  position: absolute;
  width: 100%;
  .navBarDefault {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    padding-top: 30px;
    margin-bottom: 0;
    .navBarHeader {
      .navBarBrand {
        img {
          width: 150px;
        }
      }
    }
    .navBarCollapse {
      .navBarRight {
        display: flex;
        align-items: center;
        .navBarList {
          margin-bottom: 0;
          button {
            opacity: 0.85;
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: 4px;
            text-align: left;
            color: #ffffff;
            margin: 10px 15px;
            padding: 0;
            background-color: transparent;
            border: 0;
            &:focus {
              outline: none;
            }
            &:hover {
              opacity: 1;
            }
          }
          .navbarActive {
            opacity: 1;
          }
          a:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.bgImage, .ticketsBgImage {
  background-color: #25246b;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage {
  height: 800px;
}
.ticketsBgImage {
  height: 520px;
}
/* Top Banner */
.topBannerWrapper {
  padding-top: 200px;
  padding-bottom: 100px;
  .headerImg {
    text-align: center;
    padding-bottom: 30px;
    img {
      width: 60%;
      display: inline-block;
      max-width: 800px;
    }
  }
  .pageDescription {
    text-align: center;
    padding-bottom: 60px;
    color: #fff;
  }
  .buttonWrapper {
    padding-bottom: 60px;
    text-align: center;
  }
  .placeDetails {
    display: flex;
    justify-content: center;
    .details {
      padding: 0 40px;
      display: flex;
      img {
        margin-right: 16px;
      }
    }
  }
}
.watermarkWrapper {
  position: relative;
  z-index: 1;
  .watermarkImg {
    bottom: 0;
    min-width: 100%;
  }
  .watermarkImgTop {
    top: 0;
  }
  .watermarkImgRight {
    top: 0;
    bottom: 0;
    right: 0;
    img {
      height: -webkit-fill-available;
    }
  }
  .watermarkImg, .watermarkImgTop, .watermarkImgRight {
    position: absolute;
    z-index: -1;
    img {
      width: 100%;
    }
  }
}
/* Venue */
.venueWrapper {

}
/* Overview, Sponsors and Venue */
.overviewWrapper, .sponsorWrapper, .venueWrapper {
  position: relative;
  .sectionHeader, .pageDescription {
    padding-bottom: 60px;
    padding-right: 100px;
  }
  .pageDescription {
    line-height: 1.33;
  }
  .sectionHeader {
    color: #27216e;
  }
  .scheduleBg {
    z-index: -1;
    position: absolute;
    top: -125px;
  }
  .overviewImg {
    img {
      // border-radius: 20px;
    }
  }
}
/* Venue */
.venueWrapper {
  .pageDescription {
    padding-bottom: 0;
  }
  .overviewImg {
    img {
      border-radius: 0px;
    }
  }
}
/* Sponsors */
.sponsorWrapper {
  .buttonWrapper {
    .blueBtn {
      margin-right: 40px;
    }
    .whiteBtn {
      border-color: #27216e;
    }
  }
  .sectionSubHeader {
    color: #2b2b33;
    padding-bottom: 40px;
  }
  .pastSponsorWrapper {
    clear: both;
    padding-top: 60px;
    .icons {
      img {
        display: inline-block;
        margin-right: 45px;
        max-height: 50px;
      }
    }
  }
}
/* Proposals */
.proposalsWrapper {
  .sectionHeader, .pageDescription {
    color: #fff;
    padding-bottom: 60px;
  }
  .pageDescription {
    line-height: 1.33;
    width: 50%;
  }
}
/* Schedule */
.scheduleWrapper {
  position: relative;
  z-index: 2;
  .sectionHeader, .pageDescription {
    text-align: center;
  }
  .pageDescription {
    padding-top: 30px;
    padding-bottom: 30px
  }
  .sectionHeader {
    color: #27216e;
  }
  .scheduleBg {
    z-index: -1;
    position: absolute;
    top: -125px;
  }
  .scheduleDetailsWrapper {
    padding-top: 30px;
    .scheduleList {
      .listImg {
        padding-bottom: 20px;
        text-align: center;
        img {
          max-height: 60px;
          min-height: 60px;
          display: inline-block;
        }
      }
      .pageDescription {
        padding-top: 0px;
        padding-bottom: 10px;
        color: #27216e;
      }
    }
  }
  .buttonWrapper {
    text-align: center;
    padding-top: 40px;
    clear: both;
    padding-bottom: 120px;
  }
  .graphqlWrapper {
    padding: 60px 40px;
    padding-right: 0;
    position: relative;
    .graphQlHeader, .graphQlDescription {
      padding-bottom: 40px;
    }
    .buttonWrapper {
      text-align: left;
      padding-bottom: 0;
      padding-top: 0;
    }
    .graphQlImg {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      img {
        width: 90%;
        display: inline-block;
      }
    }
    .iconsImg {
      position: absolute;
      top: 23px;
      right: 74px;
    }
  }
  .sectionPosition {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    .purpleGradientBgColor {
      border-radius: 20px;
      width: 950px;
      margin: 0 auto;
      position: absolute;
      bottom: -240px;
      z-index: 1;
    }
  }
}
/* Brought */
.broughtWrapper {
  background-image: url('../images/ticket-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  .sectionHeader, .sectionSubHeader {
    color: #fff;
    padding-bottom: 40px;
  }
  .pageDescription {
    padding-bottom: 40px;
    color: #fff;
    a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
    a:hover {
      border-bottom: 0;
    }
  }
  .buttonWrapper {
    padding-bottom: 40px;
  }
  .brandWrapper {
    float: right;
    padding-top: 118px;
    .brand {
      padding-bottom: 100px;
      padding-top: 30px;
    }
  }
}
/* Subscribe */
.subscribeWrapper {
  .pageDescription {
    padding-right: 100px;
    color: #111;
  }
}
.formDetails {
  display: flex;
}
.subscribeForm {
  padding: 0;
  font-family: 'Roboto';
  input {
    background-color: #fff;
    color: #2b2b33;
    width: 65%;
    font-size: 20px;
    border: 2px solid #27216e;
    border-radius: 5px;
    height: 60px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:focus
  {
    outline: none;
  }
  button {
    background-color: #27216e;
    color: #fff;
    display: inline-block;
    width: 35%;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    height: 60px;
    border: 2px solid #27216e;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      background-color: #221c65;
      border: 2px solid #221c65;
    }
    &:focus
    {
      outline: none;
    }
  }
}
/* Contact */
.contactWrapper {
  .sectionHeader {
    color: #fff;
    padding-bottom: 60px;
  }
  .fieldWrapper {
    .pageDescription {
      color: #fff;
      opacity: .8;
    }
    .field {
      padding-bottom: 30px;
      width: 90%;
      .fieldLabel {
        display: block;
        padding-bottom: 15px;
        margin-bottom: 0;
        input {
          margin-top: 15px;
        }
      }
      input {
        height: 60px;
      }
      input, textArea {
        padding: 5px;
        color: #fff;
        font-size: 24px;
        font-family: 'Roboto';
        width: 100%;
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        &:focus, &:hover {
          outline: none;
          border: 2px solid rgba(255, 255, 255, 1);
        }
      }


    }
  }
  .contactDetails {
    padding: 45px 0;
    .contactImg {
      text-align: center;
      padding-bottom: 15px;
      img {
        display: inline-block;
      }
    }
    .contactName {
      text-align: center;
    }
  }
}
/* Footer */
.footerWrapper {
  background-color: #0c0a24;
  margin-top: -1px;
  .footerContainer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    .footerListWrapper {
      display: inline-block;
      flex: 1;
      .copyRight {
        padding-right: 5px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        img {
          margin-right: 8px;
        }
      }
      ul {
        margin-bottom: 0;
        display: inline-block;
        li {
          list-style-type: none;
          padding: 0 12px;
          display: inline-block;
          margin-bottom: 0;
          a {}
        }
      }
    }
    .socialWrapper {
      display: flex;
      float: right;
      .socialIcon {
        padding: 0 13px;
        a {
          opacity: 0.6
        }
        a:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}

@media ( min-width: 768px ) and (max-width: 991px) {
  .wd60 {
    width: 90%;
  }
  .positionBottom {
    padding-bottom: 130px !important;
  }
  .positionTop {
    padding-top: 300px !important;
  }
  .transparentBtn,  .whiteBtn, .blueBtn {
    padding: 16px 20px;
    letter-spacing: 3px;
  }
  .transparentBtnNav {
    padding: 12px 15px;
    letter-spacing: 1px;
    font-size: 16px;
  }
  .bgImage {
    height: 650px;
  }
  .ticketsBgImage {
    height: 370px;
  }
  .copyRight {
    font-size: 16px;
  }
  .sectionWrapper {
    padding: 70px 0;
  }
  .sectionHeader {
    font-size: 40px;
  }
  .pageDescription {
    font-size: 20px;
  }
  .blueLink, .pinkLink {
    letter-spacing: 2px;
  }
  .watermarkWrapper {
    .watermarkImgRight {
      top: auto;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        width: 84%;
        display: inline-block;
      }
    }
  }
  .headerWrapper {
    .navBarDefault {
      .navBarHeader {
        .navBarBrand {
          img {
            width: 120px;
          }
        }
      }
      .navBarCollapse {
        .navBarRight {
          .navBarList {
            button {
              font-size: 15px;
              padding: 10px 10px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .topBannerWrapper {
    padding-top: 170px;
    padding-bottom: 80px;
    .placeDetails {
      .details {
        padding: 0 20px;
        font-size: 19px;
        letter-spacing: 2px;
      }
    }
  }
  .overviewWrapper, .sponsorWrapper, .venueWrapper {
    .sectionHeader, .pageDescription {
      padding-bottom: 30px;
      padding-right: 50px;
    }
  }
  .venueWrapper {
    .pageDescription {
      padding-bottom: 0;
    }
  }
  .sponsorWrapper {
    .sectionSubHeader, .pastSponsorWrapper {
      padding-top: 30px;
    }
    .pastSponsorWrapper {
      .icons {
        img {
          max-height: 35px;
          margin-right: 30px;
        }
      }
    }
  }
  .scheduleWrapper {
    .sectionPosition {
      padding-top: 80px;
      .purpleGradientBgColor {
        width: 98%;
        left: 1%;
      }
    }
    .graphqlWrapper {
      padding: 40px 40px;
      .graphQlImg {
        z-index: -1;
        img {
          width: 78%;
        }
      }
    }
  }
  .broughtWrapper {
    .sectionHeader, .pageDescription, .sectionSubHeader {
      padding-bottom: 30px;
    }
    .brandWrapper {
      padding-top: 82px;
      .brand {
        padding-top: 20px;
        padding-bottom: 80px;
      }
    }
  }
  .contactWrapper {
    .fieldWrapper {
      .field {
        width: 95%;
      }
    }
  }
}
@media(max-width: 767px) {
  .wd60 {
    width: 95%;
  }
  .bgImage {
    height: 500px;
  }
  .ticketsBgImage {
    height: 280px;
  }
  .positionBottom {
    padding-bottom: 40px !important;
  }
  .positionTop {
    padding-top: 40px !important;
  }
  .transparentBtn,  .whiteBtn, .blueBtn {
    padding: 12px 15px;
    letter-spacing: 2px;
    font-size: 18px;
  }
  .sendMessageBtn {
    padding: 0 10px;
  }
  .sectionWrapper {
    padding: 40px 0;
  }
  .sectionHeader {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .sectionSubHeader {
    font-size: 24px;
  }
  .pageDescription {
    font-size: 18px;
  }
  .copyRight {
    font-size: 16px;
  }
  .blueLink, .pinkLink {
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    img {
      margin-left: 10px;
    }
  }
  .headerWrapper {
    .navBarDefault {
      padding-top: 10px;
      .navBarHeader {
        display: flex;
        align-items: center;
        .navBarToggle {
          border-color: #fff;
          &:hover, &:focus {
            background-color: transparent;
          }
          .iconBar {
            background-color: #fff;
          }
        }
        .navBarBrand {
          height: auto;
          flex: 1;
        }
      }
      .navBarCollapse {
        background-color: #25246b;
        .navBarRight {
          display: block;
          margin-bottom: 0;
          margin-top: 0;
          .navBarList {
            border-bottom: 1px solid rgba(221, 221, 221, .2);
            button {
              color: #fff;
              font-size: 16px;
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
  .topBannerWrapper {
    padding-top: 130px;
    padding-bottom: 7px;
    .headerImg {
      img {
        width: 65%;
      }
    }
    .pageDescription {
      padding: 0 10px;
      padding-bottom: 20px;
    }
    .placeDetails {
      display: block;
      .details {
        padding: 0 20px;
        font-size: 18px;
        display: block;
        text-align: center;
        padding-bottom: 15px;
        letter-spacing: 2px;
      }
    }
    .buttonWrapper {
      padding-bottom: 20px;
    }
  }
  .overviewWrapper, .sponsorWrapper, .venueWrapper {
    .sectionHeader, .pageDescription {
      padding: 0 10px;
      text-align: center;
      padding-bottom: 20px;
    }
    .overviewImg {
      text-align: center;
      img {
        width: 90%;
        display: inline-block;
      }
    }
  }
  .sponsorWrapper {
    .buttonWrapper {
      text-align: center;
      .blueBtn {
        margin-right: 0;
      }
    }
    .overviewImg {
      padding-top: 20px;
    }
    .pastSponsorWrapper {
      padding-top: 30px;
      .sectionSubHeader {
        padding-bottom: 20px;
        text-align: center;
      }
      .icons {
        text-align: center;
        a {
          display: block;
          padding-bottom: 10px;
        }
        img {
          margin-right: 0;
        }
      }
    }
  }
  .proposalsWrapper {
    .sectionHeader {
      text-align: center;
      padding: 0 10px;
      padding-bottom: 20px;
    }
    .pageDescription {
      width: 100%;
      padding: 0 10px;
      text-align: center;
      padding-bottom: 20px;
    }
    .buttonWrapper {
      text-align: center;
    }
  }
  .scheduleWrapper {
    .sectionPosition {
      .purpleGradientBgColor {
        width: 95%;
        position: static;
      }
    }
    .pageDescription {
      padding-top: 20px;
      padding-bottom: 0;
    }
    .scheduleDetailsWrapper {
      width: 100%;
      float: left;
      .borderRight {
        border-right: 0;
      }
      .scheduleList {
        padding-bottom: 20px;
        .listImg {
          padding-bottom: 10px;
        }
      }
    }
    .buttonWrapper {
      padding-top: 0;
      padding-bottom: 20px;
    }
    .graphqlWrapper {
      padding: 20px 20px;
      .graphQlHeader {
        font-size: 25px;
        padding-bottom: 20px;
        text-align: center;
      }
      .graphQlDescription {
        font-size: 16px;
        text-align: center;
      }
      .graphQlImg {
        position: static;
        padding-top: 20px;
      }
      .iconsImg {
        width: 100%;
        right: 0;
      }
      .buttonWrapper {
        text-align: center;
      }
    }
  }
  .broughtWrapper {
    .sectionHeader, .sectionSubHeader {
      padding: 0 10px;
      padding-bottom: 20px;
      text-align: center;
    }
    .pageDescription {
      width: 100%;
      padding: 0 10px;
      text-align: center;
      padding-bottom: 30px;
    }
    .buttonWrapper {
      text-align: center;
      padding-bottom: 30px;
    }
    .brandWrapper {
      float: none;
      padding-top: 30px;
      .brand {
        padding-top: 10px;
        padding-bottom: 40px;
        text-align: center;
        img {
          width: 175px;
        }
      }
    }
  }
  .contactWrapper {
    padding-bottom: 0;
    .sectionHeader {
      text-align: center;
      padding-bottom: 20px;
    }
    .fieldWrapper {
      .contactBorRight {
        border-right: 0;
      }
      .field {
        margin: 0 auto;
        width: 95%;
      }
    }
    .contactDetails {
      .contactImg {
        img {
          width: 50px;
        }
      }
    }
  }
  .footerWrapper {
    .footerContainer {
      display: block;
      .footerListWrapper {
        display: block;
        text-align: center;
        padding-bottom: 10px;
        .copyRight {
          display: block;
        }
        ul
        {
          padding-top: 10px;
          padding-inline-start: 0px;
          margin-left: 0;
          li {
            display: block;
            padding-bottom: 10px;
          }
        }
      }
      .socialWrapper {
        float: none;
        justify-content: center;
      }
    }
  }
}
@media ( min-width: 1440px ) {
  .scheduleWrapper {
    .watermarkImgTop {
      min-width: 100%;
      img {
        max-height: 1038px;
      }
    }
  }
}
@media (max-width: 450px) {
  .ticketsBgImage {
    height: 240px;
  }
}
