.marketoFormWrapper {
  width: 100% !important;
  max-width: 600px;
  position: relative;
  .mktoFormRow {
    .mktoFieldDescriptor {
      float: none;
      min-height: unset !important;
      margin-bottom: 16px !important;
      .mktoOffset {
        display: none;
      }
      .mktoFieldWrap {
        float: none;
        .mktoGutter {
          display: none;
        }
        .mktoLabel {
          display: none;
          font-size: 1em;
          line-height: 220%;
          font-weight: 400;
          // color: #717780;
          font-weight: 400;
          float: none;
          width: 100% !important;
        }
        #Lbltemp1, #Lbltemp2 {
          display: block;
          font-size: 1.5em;
          font-family: 'Darker Grotesque';
          font-weight: 500;
        }
        .mktoField {
          width: 100% !important;
          height: 56px;
          border-radius: 0;
          color: #717780;
          font-weight: 400;
          background-color: #FFFFFF;
          border: 1px solid #FFFFFF;
          padding: 0 0 !important;
          text-indent: 12px;
          font-size: 1.25em;
          z-index: 1;
        }
        .mktoCheckboxList, .mktoRadioList {
          width: 100% !important;
          padding: 0 !important;
          input[type='checkbox'], input[type='radio'] {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it
            & + label:before {
              border: 1px solid #717780;
            }
            & + label {
              position: relative;
              cursor: pointer;
              margin: 16px 0px;
              display: flex;
              align-items: center;
              color: #717780;
              font-size: 1.5em;
              font-family: 'Darker Grotesque';
              font-weight: 500;
              z-index: 1;
              &:first-child {
                margin-top: 0;
              }
            }
            // Box.
            & + label:before {
              content: '';
              display: inline-block;
              vertical-align: text-top;
              width: 24px;
              height: 24px;
              background: transparent;
              border-radius: 4px;
              margin-right: 16px;
            }

            // Disabled state label.
            &:disabled + label {
              color: #b8b8b8;
              cursor: auto;
            }

            // Disabled box.
            &:disabled + label:before {
              box-shadow: none;
              background: #ddd;
            }
            // Box hover
            &:hover + label:before {
              // border: 2px solid #2EB67D;
            }
            // Box checked
            &:checked + label:before {
              // background: #5C94C8;
              // border: 2px solid #5C94C8;
            }
            &:checked + .checkBoxLabel {
              color: #5C94C8;
            }
            // Checkmark. Could be replaced with an image
            &:checked + label:after {
              content: '';
              position: absolute;
              left: 9px;
              top: 4px;
              width: 6px;
              height: 12px;
              border: solid #717780;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          input[type='radio'] {
            & + label:before {
              border: 2px solid #E4E4E4;
              border-radius: 50%;
            }
            &:checked + label:after {
              content: '';
              left: 5px;
              top: 5px;
              width: 10px;
              height: 10px;
              background-color: #2EB67D;
              border-radius: 50%;
            }
          }
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-position-y: 18px;
          background-position-x: calc(100% - 15px);
          background-image: url('./images/dropdown-arrow.svg');
          background-repeat: no-repeat;
        }
        #message {
          padding-top: 5px !important;
          padding-left: 12px !important;
          text-indent: 0;
          height: auto !important;
        }
        .mktoField:hover, textarea:hover, select:hover {
          border: 1px solid #fff;
        }
        .mktoField:focus, textarea:focus, select:focus {
          outline: none;
          border: 1px solid #0093a5;
        }
        .mktoField:-webkit-autofill {
          -webkit-animation-name: autofill;
          -webkit-animation-fill-mode: both;
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          background-color: transparent;
          font-size: 1em;
        }
        .mktoField:-webkit-autofill,
        .mktoField:-webkit-autofill:hover,
        .mktoField:-webkit-autofill:focus,
        .mktoField:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 35px #fff inset !important;
          -webkit-text-fill-color: #505050 !important;
          font-size: 1em;
          caret-color: #505050;
          color: #fff !important;
        }

        .mktoField:-internal-autofill-selected {
          color: #505050 !important;
          font-size: 1em;
        }
      }
    }
  }
  .mktoButtonRow {
    display: block;
    .mktoButtonWrap {
      margin-left: 0 !important;
      .mktoButton {
        padding: 5px 20px !important;
        font-size: 1.25em !important;
        font-weight: normal;
        width: 100%;
        border: 0;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-color: #C63939 !important;
        background-image: none !important;
        color: #F5E7D3 !important;
        transition: all .2s ease-in-out;
        border: 0 !important;
        height: 56px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
        &:hover {
          background-color: rgba(92, 148, 200, 1);
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: #F5E7D3 !important;
          color: #C63939 !important;
        }
      }
    }
  }
}
.webinarMarAuto {
  margin: 0 0;
  margin-left: auto;
  max-width: 500px;
}
.subscribeNewsletterForm {
  max-width: none;
  border-radius: 0;
  margin: inherit;
  background-color: transparent;
  padding: 0;
  position: relative;
  box-shadow: none;
  display: flex;
  position: relative;
  .mktoFormRow {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 216px);
    .mktoFieldDescriptor {
      .mktoFieldWrap {
        .mktoField {
          background-color: #fff;
        }
        .mktoField:hover {
          border: solid 1px #eee;
        }
      }
    }
  }
  .mktoButtonRow {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    .mktoButtonWrap {
      .mktoButton {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        &:hover {
          background-color: rgba(92, 148, 200, 0.1);
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .marketoFormWrapper {
    padding: 0 !important;
    margin-top: 20px !important;
    max-width: 600px;
  }
  .subscribeNewsletterForm {
    display: block;
    height: auto;
    padding: 0px !important;
    .mktoFormRow {
      width: 100%;
    }
    .mktoFormRow, .mktoButtonRow {
      position: static;
    }
  }
}
@media(min-width: 1920px) {
  .marketoFormWrapper {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoLabel {
            font-size: 2em !important;
          }
          .mktoField {
            font-size: 2em;
          }
          .mktoField:-webkit-autofill,
          .mktoField:-webkit-autofill:hover,
          .mktoField:-webkit-autofill:focus,
          .mktoField:-webkit-autofill:active  {
            font-size: 2em !important;
          }
          .mktoField:-internal-autofill-selected {
            font-size: 2em;
          }
          .mktoCheckboxList, .mktoRadioList {
            input[type='checkbox'], input[type='radio'] {
              & + label:before {
                border: 3px solid #717780;
                width: 32px;
                height: 32px;
              }
              & + label {
                font-size: 2em;
              }
              &:checked + label:after {
                left: 13px;
                top: 5px;
                width: 6px;
                height: 20px;
                border-width: 0 3px 3px 0;
              }
            }
          }
        }
      }
    }
    .mktoButtonRow {
      .mktoButtonWrap {
        .mktoButton {
          font-size: 1.75em !important;
          height: auto;
        }
      }
    }
  }
  .subscribeNewsletterForm {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoField {
            height: 60px;
          }
        }
      }
    }
    .mktoButtonRow {
      width: auto;
      .mktoButtonWrap {
        .mktoButton {
          height: 60px;
        }
      }
    }
  }

}
@media(min-width: 2560px) {
  .marketoFormWrapper {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoLabel {
            font-size: 3em !important;
          }
          .mktoField {
            font-size: 1.5em;
          }
          .mktoField:-webkit-autofill,
          .mktoField:-webkit-autofill:hover,
          .mktoField:-webkit-autofill:focus,
          .mktoField:-webkit-autofill:active  {
            font-size: 1.5em !important;
          }
          .mktoField:-internal-autofill-selected {
            font-size: 1.5em;
          }
          .mktoCheckboxList, .mktoRadioList {
            input[type='checkbox'], input[type='radio'] {
              & + label:before {
                border: 3px solid #717780;
                width: 32px;
                height: 32px;
              }
              & + label {
                font-size: 3em;
              }
              &:checked + label:after {
                left: 13px;
                top: 11px;
                width: 6px;
                height: 20px;
                border-width: 0 3px 3px 0;
              }
            }
          }
        }
      }
    }
    .mktoButtonRow {
      .mktoButtonWrap {
        .mktoButton {
          font-size: 3em !important;
          height: auto;
        }
      }
    }
  }
  .subscribeNewsletterForm {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoField {
            height: 80px;
          }
        }
      }
    }
    .mktoButtonRow {
      width: auto;
      .mktoButtonWrap {
        .mktoButton {
          height: 80px;
        }
      }
    }
  }
}
@media(min-width: 3440px) {
  .marketoFormWrapper {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoLabel {
            font-size: 3.5em !important;
          }
          .mktoField {
            font-size: 2em;
          }
          .mktoField:-webkit-autofill,
          .mktoField:-webkit-autofill:hover,
          .mktoField:-webkit-autofill:focus,
          .mktoField:-webkit-autofill:active  {
            font-size: 2em !important;
          }
          .mktoField:-internal-autofill-selected {
            font-size: 2em;
          }
          .mktoCheckboxList, .mktoRadioList {
            input[type='checkbox'], input[type='radio'] {
              & + label:before {
                border: 3px solid #717780;
                width: 32px;
                height: 32px;
              }
              & + label {
                font-size: 3.5em;
              }
              &:checked + label:after {
                left: 13px;
                top: 14px;
                width: 6px;
                height: 20px;
                border-width: 0 3px 3px 0;
              }
            }
          }
        }
      }
    }
    .mktoButtonRow {
      .mktoButtonWrap {
        .mktoButton {
          font-size: 3.5em !important;
          height: auto;
        }
      }
    }
  }
  .subscribeNewsletterForm {
    .mktoFormRow {
      .mktoFieldDescriptor {
        .mktoFieldWrap {
          .mktoField {
            height: 80px;
          }
        }
      }
    }
    .mktoButtonRow {
      width: auto;
      .mktoButtonWrap {
        .mktoButton {
          height: 80px;
        }
      }
    }
  }
}
