html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: 'Darker Grotesque' !important;
  font-size: 1.25em;
  font-size: 1.1vw !important;
  font-weight: bold !important;
}
.topnav {
  display: none;
}
.btnFixedPos {
  position: fixed;
  bottom: 10%;
  right: 4%;
  .darkBtn {
    width: 300px;
    // height: 64px;
  }
}
.displayNone {
  display: none !important;
}
.navBarToggle {
  border-radius: 4px;
  padding: 0px 0px;
  position: absolute;
  right: 0px;
  top: 70px;
  .iconBar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
  }
  .iconBar:first-child {
    margin-top: 0px;
  }
  &:focus {
    outline: none;
  }
}
.footerPattern {
  display: none;
}
.mobileShow {
  display: none !important;
}
.mainWrapper {
  // max-width: 1248px;
  padding: 100px 0;
  position: relative;
}
ul {
  padding-inline-start: 0px;
  margin-bottom: 0;
  li {
    list-style-type: none;
  }
}
.fontBold {
  font-weight: bold !important;
}
.fontBold500 {
  font-weight: 600 !important;
}
.wd25 {
  width: 25%;
}
.wd20 {
  width: 20%;
}
.wd80 {
  width: 80%;
}
.wdinner60 {
  width: 60%;
  padding-left: 40px;
  margin: 0 auto;
  .wd90 {
    width: 90%;
    margin: 0 auto;
  }
}
.modeChangeWrapper {
  position: fixed;
  right: 4%;
  top: 100px;
  z-index: 1;
  img {
    cursor: pointer;
  }
}
.mainGridWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sectionWrapperBottom {
  padding-bottom: 100px;
}
.sectionWrapperBottomLarge {
  padding-bottom: 160px;
}
.sectionWrapper {
  padding: 80px 0;
}
.removePaddBottom {
  padding-bottom: 0 !important;
}
.removePaddTop {
  padding-top: 0 !important;
}
.mt-40 {
  margin-top: -40px;
}
.lightModeBorBottom {
  border-bottom: 1px solid #181818;
}
.darkModeBorBottom {
  border-bottom: 1px solid #f5e7d3;
}
.darkModeBorTop {
  border-top: 1px solid #f5e7d3;
}
.darkModeListBorBottom {
  border-bottom: 1px solid rgba(245, 231, 211, 0.5);
}
.lightModeListBorBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.lightModeBorder {
  border: 1px solid #181818;
}
.darkModeBorder {
  border: 1px solid #f5e7d3;
}
.darkLine,
.lightLine {
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(50% - 0.5px);
  z-index: 0;
  margin: 0px;
}
.darkLine {
  background-color: #000000;
}
.lightLine {
  background-color: #f5e7d3;
}
.lightModeBorTop {
  border-top: 1px solid #181818;
}
.lightModeBorRight {
  border-right: 1px solid #181818;
}
.darkModeBorRight {
  border-right: 1px solid #f5e7d3;
}
.mainTitle {
  font-size: 6em;
  color: #c63939;
  font-weight: bold;
  line-height: 96%;
}
.mainSubTitle {
  font-size: 3.25em;
  font-weight: bold;
  line-height: 96%;
}
.articleTitle {
  font-size: 3.2em;
  color: #c63939;
  line-height: 96%;
}
.articleSubTitle {
  font-size: 2.5em;
  color: #c63939;
  line-height: 96%;
  font-weight: bold;
}
.articleSectionTitle {
  font-size: 2em;
  font-weight: 500;
  line-height: 120%;
  a {
    text-decoration: underline;
  }
}
.commonLink {
  font-size: 1.5em;
  color: #c63939;
  a {
    color: #c63939;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    .arrow {
      margin-left: 12px;
      transition: all 0.3s ease-in-out;
      height: 21px;
      display: flex;
      align-items: center;
      .arrowIconHover {
        position: absolute;
        top: 9px;
        left: -10px;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
      }
    }
    &:hover {
      color: #c63939;
      text-decoration: none !important;
      .arrow {
        transform: translateX(10px);
        .arrowIconHover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.articleDesc {
  font-size: 1.25em;
  line-height: 170%;
  font-weight: 500;
  a {
    text-decoration: underline;
  }
}
.buttonWrapper {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.commonBtn {
  padding: 10px 20px;
  font-size: 1.25em;
  line-height: 170%;
  text-align: center;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  border: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img {
    margin-right: 8px;
  }
  &:focus {
    outline: none;
  }
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.pr-70 {
  padding-right: 70px;
}
.darkBtn {
  background-color: #c63939;
  color: #f5e7d3;
  background: linear-gradient(to right, #f5e7d3 50%, #c63939 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  .submitIconHover {
    display: none;
  }
  .mart-4 {
    margin-top: -4px;
  }
  &:hover {
    background-position: left bottom;
    color: #c63939;
    .submitIcon {
      display: none;
    }
    .submitIconHover {
      display: inline-block;
    }
  }
}
.darkRedBtn {
  background-color: #c63939;
  color: #f5e7d3;
  border: 1px solid #c63939;
}
.transparentBtn {
  background-color: transparent;
  color: #F5E7D3;
  border: 1px solid rgba(245, 231, 211, 0.5);
}
.lightBtn {
  background-color: #f5e7d3;
  color: #c63939;
  background: linear-gradient(to right, #c63939 50%, #f5e7d3 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  &:hover {
    background-position: left bottom;
    color: #f5e7d3;
  }
}
.alignSelfEnd {
  align-self: end;
}
.lightModeLayout,
.darkModeLayout {
  background-repeat: repeat;
  min-height: 100vh;
  position: relative;
  transition: all 0.3s ease-in-out;
  .pattern {
    position: absolute;
    right: 0;
    top: 220px;
    width: inherit;
  }
}
.redColor {
  color: #c63939 !important;
}
.lightModeLayout {
  background-color: #f5e7d3;
  background-image: url('./images/lighter-sqaure.svg');
  .transparentBtn {
    background-color: transparent;
    color: #181818;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .darkBlockBtn {
    background-color: #181818;
    color: #F5E7D3;
    border: 1px solid #181818;
  }
  .navBarToggle {
    .iconBar {
      background-color: #181818 !important;
    }
  }
  .joinGraphQLWrapper {
    .articleTitle {
      color: #181818;
    }
  }
  .articleDesc {
    color: #181818;
    a {
      color: #181818;
    }
  }
  .articleSectionTitle {
    color: #181818;
    a {
      color: #181818;
    }
  }
  .mainSubTitle {
    color: #181818;
  }
  .registerWrapper {
    .marketoFormWrapper {
      .mktoFormRow {
        .mktoFieldDescriptor {
          .mktoFieldWrap {
            #Lbltemp1, #Lbltemp2 {
              color: #181818;
            }
          }
          .mktoCheckboxList {
            input[type='checkbox'] {
              & + label {
                color: #181818;
              }
            }
          }
        }
      }
    }
  }
  .workshopWrapper {
    ul {
      li {
        &:hover {
          background-color: #000000;
          .articleSectionTitle {
            color: #f5e7d3;
          }
          .articleDesc {
            color: #f5e7d3;
          }
        }
      }
    }
  }
  .speakersWrapper {
    .speakersListWrapper {
      .speakersList {
        .speakersListContainer {
          &:hover {
            .speakersProfileWrapper {
              background-color: #181818;
              .articleDesc {
                color: #f5e7d3;
              }
            }
          }
        }
      }
    }
  }
  .scheduleWrapper {
    .scheduleListHeader, .scheduleListWrapper {
      .scheduleList {
        .articleSectionTitle, .articleDesc {
          .istBtn, .istBtnMobile {
            background: rgba(0, 0, 0, 0.2);
            .istBtnHover {
              background-color: #181818;
              color: #f5e7d3;
            }
          }
        }
      }
    }
    .scheduleListWrapper {
      border: 1px solid rgba(0, 0, 0, 0.5);
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        .scheduleList {
          .talkTypes {
            .talkBtn {
              border: 1px solid rgba(0, 0, 0, 0.5);

            }
          }
          &:hover {
            background-color: #181818;
            .articleDesc {
              color: #f5e7d3;
            }
            .articleSectionTitle {
              color: #f5e7d3;
            }
            .talkTypes {
              .talkBtn {
                border: 1px solid rgba(245, 231, 211, 0.5);
              }
            }
          }
        }
      }
    }
  }
}
.darkModeLayout {
  background-color: #000;
  background-image: url('./images/dark-square.svg');
  .transparentBtn {
    background-color: transparent;
    color: #F5E7D3;
    border: 1px solid rgba(245, 231, 211, 0.5);
  }
  .darkBlockBtn {
    background-color: #F5E7D3;
    color: #181818;
    border: 1px solid #F5E7D3;
  }
  .navBarToggle {
    .iconBar {
      background-color: #f5e7d3 !important;
    }
  }
  .joinGraphQLWrapper {
    .articleTitle {
      color: #f5e7d3;
    }
  }
  .articleDesc {
    color: #f5e7d3;
    a {
      color: #f5e7d3;
    }
  }
  .articleSectionTitle {
    color: #f5e7d3;
    a {
      color: #f5e7d3;
    }
  }
  .mainSubTitle {
    color: #f5e7d3;
  }
  .registerWrapper {
    .marketoFormWrapper {
      .mktoFormRow {
        .mktoFieldDescriptor {
          .mktoFieldWrap {
            #Lbltemp1, #Lbltemp2 {
              color: #f5e7d3;
            }
          }
          .mktoCheckboxList {
            input[type='checkbox'] {
              & + label {
                color: #f5e7d3;
              }
            }
          }
        }
      }
    }
  }
  .workshopWrapper {
    ul {
      li {
        &:hover {
          background-color: #f5e7d3;
          .articleSectionTitle {
            color: #181818;
          }
          .articleDesc {
            color: #181818;
          }
        }
      }
    }
  }
  .speakersWrapper {
    .speakersListWrapper {
      .speakersList {
        .speakersListContainer {
          &:hover {
            .speakersProfileWrapper {
              background-color: #f5e7d3;
              .articleDesc {
                color: #181818;
              }
            }
          }
        }
      }
    }
  }
  .scheduleWrapper {
    .scheduleListHeader, .scheduleListWrapper {
      .scheduleList {
        .articleSectionTitle, .articleDesc {
          .istBtn, .istBtnMobile {
            background: rgba(245, 231, 211, 0.2);
            .istBtnHover {
              background-color: #f5e7d3;
              color: #181818;
            }
          }
        }
      }
    }
    .scheduleListWrapper {
      border: 1px solid rgba(245, 231, 211, 0.5);
      li {
        border-bottom: 1px solid rgba(245, 231, 211, 0.5);
        .scheduleList {
          .talkTypes {
            .talkBtn {
              border: 1px solid rgba(245, 231, 211, 0.5);
            }
          }
          &:hover {
            background-color: #f5e7d3;
            .articleDesc {
              color: #181818;
            }
            .articleSectionTitle {
              color: #181818;
            }
            .talkTypes {
              .talkBtn {
                border: 1px solid rgba(0, 0, 0, 0.5);
              }
            }
          }
        }
      }
    }
  }
}
.leftSidebarWrapper {
  position: fixed;
  .brand {
    padding-bottom: 12px;
    margin-top: -40px;
    a {
      display: block;
      img {
        // width: 140px;
        width: 100%;
      }
    }
  }
  .commonLink {
    font-size: 1.25em;
  }
  ul.articleDesc {
    padding-top: 40px;
    padding-inline-start: 0px;
    line-height: 100%;
    font-weight: bold;
    li {
      padding: 8px 0;
      list-style-type: none;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .active {
      text-decoration: underline;
    }
  }
}
.leftSidebarFooterWrapper {
  position: fixed;
  bottom: 30px;
  .poweredBrand {
    padding-bottom: 24px;
    img {
      width: 100%;
    }
  }
}
.socialIconWrapper {
  display: flex;
  a {
    margin: 0 16px;
    display: flex;
    align-items: center;
    width: 22px;
    height: 24px;
    img {
      width: 100%;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.checkMailWrapper {
  background-image: url('./images/btn-pattern.svg');
  background-size: 200px;
  background-position: right;
  background-repeat: no-repeat;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  img {
    margin-right: 12px;
  }
}
.topBannerWrapper {
  width: 700px;
  margin-top: -40px;
  .mainTitle {
    padding-bottom: 48px;
  }
  .articleSectionTitle {
    padding-bottom: 60px;
  }
  .buttonWrapper {
    display: flex;
    a {
      width: 50%;
    }
  }
}
.videoWrapper {
  img {
    width: 70%;
  }
}
.conferenceWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 120px;
  .articleSubTitle {
    padding-bottom: 24px;
  }
  .articleSectionTitle {
    padding-right: 50px;
  }
  .commonLinkWrapper {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
  }
}
.threeColumsWrapper {
  .threeColumsList:nth-child(3n + 4) {
    margin-top: -90px;
  }
  .threeColumsList:nth-child(3n + 2) {
    margin-top: 30px;
  }
  .threeColumsList:nth-child(3n) {
    margin-top: 120px;
  }
  .threeColumsList:nth-child(2) {
    margin-top: 120px;
  }
  .threeColumsList:nth-child(3) {
    margin-top: 240px;
  }
}
.speakersWrapper {
  .speakersHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px 184px;
    padding-bottom: 80px;
    .buttonWrapper {
      .commonBtn {
        width: 100%;
      }
    }
  }
  .speakersListWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 88px;
    .speakersList {
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .speakersListContainer {
        transition: all 0.3s ease-in-out;
        position: relative;
        &:hover {
          .speakersProfileWrapper {
            transform: translateY(-30px);
          }
          .speakersImg {
            img {
              filter: grayscale(0);
            }
          }
          .speakerArrow {
            right: 0px;
            opacity: 1;
            visibility: visible;
          }
        }
        .speakersImg {
          img {
            transition: all 0.3s ease-in-out;
            width: 90%;
            filter: grayscale(100%);
          }
        }
        .articleDesc {
          line-height: 28px;
        }
        .speakersProfileWrapper {
          padding: 20px 24px;
          transition: all 0.3s ease-in-out;
        }
        .speakerArrow {
          position: absolute;
          right: 30px;
          bottom: 10px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
  }
  .moreSpeakers {
    // text-align: center;
    padding-top: 24px;
    font-size: 2em;
  }
}
.communityPartnersWrapper {
  .articleSubTitle {
    padding-bottom: 24px;
  }
  .communityPartnersHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px 60px;
    .articleSectionTitle {
      padding-right: 0px;
    }
  }

  .partnersBrandWrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 100px;
    width: 80%;
    img {
      width: 100%;
    }
    .wd80 {
      width: 80%;
    }
    .wd70 {
      width: 70%;
    }
    .twoColumn {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .partnersBrandWrapperDisplay {
    // display: flex;
    // align-items: center;
    // grid-gap: 60px 80px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 60px 50px;
    align-items: center;
    .yugabite {
      max-width: 240px;
      // margin-left: 80px;
    }
  }
}
.joinGraphQLWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0px 120px;
  .buttonWrapper {
    .commonBtn {
      width: 100%;
    }
  }
}
.footerWrapper {
  ul.articleDesc {
    line-height: 100%;
    padding-inline-start: 0px;
    li {
      display: inline-block;
      padding: 0 12px;
      list-style-type: none;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .footerLogoWrapper {
    display: none;
  }
}
.codeOfContentWrapper {
  width: 610px;
  .mainSubTitle,
  .articleSubTitle {
    padding-bottom: 32px;
  }
  .articleDesc {
    padding-bottom: 60px;
  }
}
.registerWrapper {
  width: 500px;
  margin-top: -40px;
  .mainSubTitle {
    padding-bottom: 44px;
  }
  .articleDesc {
    padding-top: 16px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  ul.articleDesc {
    li {
      padding: 8px 0;
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 20px;
        margin-top: 12px;
      }
    }
  }
  .commonLink {
    padding-top: 16px;
    a {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
    }
  }
}
.landingThankWrapper {
  width: 80%;
  .landingThankShareWrapper {
    display: flex;
    align-items: center;
    background-color: #c63939;
    background-image: url('../Common/images/share-pattern.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 18px 32px;
    margin-top: 60px;
    background-size: contain;
    .articleDesc {
      padding-top: 0;
      color: #f5e7d3;
      padding-right: 24px;
    }
    .shareIconWrapper {
      display: flex;
      .shareIcon {
        margin: 0 12px;
        position: relative;
        img {
          cursor: pointer;
        }
        .copiedWrapper {
          font-size: 14px;
          border-radius: 4px;
          padding: 3px 5px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -32px;
        }
        .copiedLightMode {
          background-color: #181818;
          color: #f5e7d3;
        }
        .copiedDarkMode {
          background-color: #f5e7d3;
          color: #181818;
        }
      }
    }
  }
}
.notFoundWrapper {
  min-height: 500px;
}
.workshopWrapper {
  width: 80%;
  .articleDesc {
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    img {
      margin-right: 20px;
    }
  }
  .articleSubTitle {
    padding-bottom: 20px;
  }
  ul {
    width: 80%;
    margin-bottom: 80px;
    li {
      padding: 24px 20px;
      position: relative;
      display: flex;
      align-items: flex-start;
      img {
        margin-top: 12px;
        margin-right: 20px;
        transform: translateX(-20px);
        transition: all 0.3s ease-in-out;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child {
        border-bottom: 0 !important;
      }
      &:hover {
        transition: all 0.3s ease-out 0s;
        .articleSectionTitle,
        .articleDesc,
        img {
          transform: translateX(0px);
        }
        .workshopArrow {
          right: 0px;
          opacity: 1;
          visibility: visible;
        }
      }
      .articleSectionTitle,
      .articleDesc {
        transform: translateX(-20px);
        transition: all 0.3s ease-in-out;
      }
      .articleDesc {
        padding-top: 16px;
        padding-bottom: 0;
        display: block;
        a,
        span {
          color: #c63939;
        }
      }
      .readMore {
        display: none;
        .readMoreArrow {
          margin-top: 3px;
          margin-left: 8px;
        }
      }
      .workshopArrow {
        position: absolute;
        right: 30px;
        bottom: -20px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0s;
        img {
          margin-right: 0px;
        }
      }
    }
  }
}
/* Details page Starts*/
.detailsPageWrapper {
  width: 70%;
  .pb-40 {
    padding-bottom: 40px;
  }
  .pl-40 {
    padding-left: 40px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  .articleSubTitle {
    padding-top: 10px;
    padding-bottom: 24px;
  }
  .mainSubTitle {
    padding-bottom: 60px;
    font-size: 4.5em;
    font-weight: 500;
  }
  .brandLogo {
    padding-bottom: 40px;
  }
  .commonLink {
    cursor: pointer;
    display: inline-block;
    .arrow {
      height: 16px;
      .arrowIcon {
        height: 16px;
      }
      .arrowIconHover {
        top: 7px;
        left: -7px;
        height: 2px;
      }
    }
  }
  .articleDesc {
    ul {
      li {
        display: flex;
        align-items: flex-start;
        padding: 8px 0;
        img {
          margin-top: 10px;
          margin-right: 20px;
        }
        ul {
          padding-inline-start: 20px;
          li {
            padding: 2px 0;
            display: list-item;
            list-style-type: circle;
          }
        }
      }
    }
  }
  .articleSectionTitle {
    padding-bottom: 24px;
  }
  .speakerDetails {
    .speakersProfile {
      display: grid;
      grid-template-columns: 236px 1fr;
      padding-bottom: 40px;
      .speakersImg {
        padding-right: 40px;
        img {
          width: 236px;
          filter: grayscale(100%);
        }
      }
      .articleDesc {
        padding-top: 7px;
      }
    }
  }
  .shareWrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    .articleDesc {
      padding-right: 20px;
    }
    .shareIconWrapper {
      display: flex;
      .shareIcon {
        margin: 0 12px;
        position: relative;
        img {
          cursor: pointer;
        }
        .copiedWrapper {
          font-size: 14px;
          border-radius: 4px;
          padding: 3px 5px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -32px;
        }
        .copiedLightMode {
          background-color: #181818;
          color: #f5e7d3;
        }
        .copiedDarkMode {
          background-color: #f5e7d3;
          color: #181818;
        }
      }
    }
  }
}
.backBtnWrapper {
  position: relative;
  .darkBtn {
    width: 300px;
    display: inline-block;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:hover {
      transform: translateX(20px);
    }
  }
}
.scheduleWrapper {
  .scheduleHeader {
    display: flex;
    padding-bottom: 52px;
    .buttonWrapper {
      margin-left: auto;
      display: flex;
      .commonBtn {
        width: 160px;
        padding: 5px 10px;
        img {
          margin-top: 4px;
        }
      }
    }
  }
  .dateTab {
    display: flex;
    .commonBtn {
      padding: 0px 15px;
      width: auto;
      box-shadow: none;
    }
  }
  .removeBorBottom {
    border-bottom: 0 !important;
  }
  .scheduleListHeader {
    .articleSectionTitle {
      color: #C63939;
      display: flex;
      align-items: center;
      line-height: normal;
      .istBtn {
        font-size: .6em;
        line-height: revert;
        padding: 4px 6px;
        margin-left: 12px;
        margin-top: 7px;
        max-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
          .istBtnHover {
            display: inline-table;
          }
        }
        .istBtnHover {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -40px;
          padding: 4px 6px;
          width: max-content;
          text-align: center;
          border-radius: 4px;
          display: none;
          font-size: .8em;
        }
      }
    }
  }
  .scheduleListWrapper {
    margin-bottom: 0 !important;
    .scheduleList {
      display: grid;
      grid-template-columns: 160px 1fr;
      grid-gap: 0 60px;
      padding: 32px 32px;
      transition: all .3s ease-in-out;
      position: relative;
      .articleDesc {
        .istBtnMobile {
          line-height: revert;
          padding: 4px 6px;
          margin-left: 12px;
          margin-top: 0;
          max-height: 25px;
          display: none;
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: 14px;
          &:hover {
            .istBtnHover {
              display: block;
            }
          }
          .istBtnHover {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
            width: max-content;
            padding: 0 6px;
            font-size: 14px;
            text-align: center;
            border-radius: 4px;
            display: none;
          }
        }
      }
      .workshopArrow {
        position: absolute;
        right: 30px;
        bottom: 0px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0s;
        img {
          margin-right: 0px;
        }
      }
      &:hover {
        text-decoration: none;
        .workshopArrow {
          right: 0px;
          opacity: 1;
          visibility: visible;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
      .scheduleDetailsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 48px;
        .talkTypes {
          display: flex;
          padding-top: 24px;
          .talkBtn {
            border: 1px solid rgba(245, 231, 211, 0.5);
            margin-right: 12px;
            padding: 0px 6px;
            line-height: normal;
          }
        }
        .speakersDetailsInfo {
          display: flex;
          .speakersImg {
            padding-right: 24px;
            img {
              width: 68px;
              filter: grayscale(100%);
            }
          }
        }
      }
      .readMore {
        display: none;
        span {
          color: #c63939;
        }
        .readMoreArrow {
          margin-top: 3px;
          margin-left: 8px;
        }
      }
    }
  }
}
.breakWrapper {
  .articleDesc {
    display: flex;
    align-items: center;
    img {
      margin: 0 12px;
    }
  }
}
@media (min-width: 901px) and (max-width: 1439px) {
  .sectionWrapperBottomLarge {
    padding-bottom: 0px;
  }
  .btnFixedPos {
    right: 32px;
    .darkBtn {
      width: 250px;
    }
  }
  .commonBtn {
    font-size: 18px;
  }
  .mainTitle {
    font-size: 72px;
  }
  .modeChangeWrapper {
    right: 32px;
  }
  .articleSubTitle,
  .articleTitle {
    font-size: 38px;
  }
  .articleSectionTitle {
    font-size: 24px;
  }
  .articleDesc {
    font-size: 18px;
  }
  .commonLink {
    font-size: 22px;
    a {
      .arrow {
        // width: 12px;
      }
    }
  }
  .mainWrapper {
    padding: 100px 32px;
    .pattern {
      width: 120px;
    }
  }
  .codeOfContentWrapper {
    width: 500px;
  }
  .mainGridWrapper {
    grid-template-columns: 170px 1fr;
  }
  .topBannerWrapper {
    width: 600px;
  }
  .videoWrapper {
    img {
      width: 100%;
    }
  }
  .communityPartnersWrapper {
    .communityPartnersHeader {
      grid-template-columns: 1fr 210px;
    }
  }
}
@media (max-width: 900px) {
  .sectionWrapperBottomLarge {
    padding-bottom: 0px;
  }
  .backBtnWrapper {
    .darkBtn {
      width: auto;
      padding: 10px 30px;
    }
  }
  .landingThankWrapper {
    .landingThankShareWrapper {
      display: inline-block;
      background-image: none;
      margin-top: 40px;
      padding: 18px 24px;
      border-radius: 4px;
      .articleDesc {
        padding-bottom: 10px;
      }
      .shareIconWrapper {
        .shareIcon {
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .wd80 {
    width: 100%;
  }
  #viewport {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .topnav {
    position: relative;
    display: block;
    .visibleMobile {
      width: 100%;
      max-width: 300px;
      background: #181818;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 100px;
      overflow: auto;
      right: 0;
      transform: translateX(380px);
      transition: transform 0.3s ease-out;
      z-index: 100;
      .navBarULMobile {
        font-weight: bold;
        li {
          border-bottom: 1px solid #f5e7d3;
          padding: 20px 40px;
          a {
            text-decoration: none;
            color: #f5e7d3;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .topnav.responsive {
    #menuClick span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #menuClick span:nth-child(2) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #menuClick span:nth-child(3) {
      top: 36px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #menuClick.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    }

    #menuClick.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #menuClick.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 39px;
      left: 8px;
    }
  }
  .topnav.responsive .visibleMobile {
    transform: translateX(32px);
  }
  .mobileShow {
    display: block !important;
  }
  .threeColumsWrapper {
    .threeColumsList:nth-child(even) {
      margin-top: 24px;
    }
    .threeColumsList:nth-child(odd) {
      margin-top: -24px;
    }
  }
  .sectionWrapperBottom {
    padding-bottom: 60px;
  }
  .sectionWrapper {
    padding: 60px 0;
  }
  .commonBtn {
    font-size: 18px;
  }
  .mainTitle {
    font-size: 56px;
  }
  .articleSubTitle,
  .articleTitle {
    font-size: 38px;
  }
  .mainSubTitle {
    font-size: 40px;
  }
  .articleSectionTitle {
    font-size: 24px;
  }
  .articleDesc {
    font-size: 18px;
  }
  .commonLink {
    font-size: 22px;
    a {
      .arrow {
        // width: 12px;
      }
    }
  }
  .mainWrapper {
    padding: 32px;
    padding-bottom: 0;
    .pattern {
      display: none;
    }
  }
  .modeChangeWrapper {
    right: 32px;
    top: 32px;
  }
  .mainGridWrapper {
    display: block;
  }
  .videoWrapper {
    img {
      width: 100%;
    }
  }
  .leftSidebarWrapper {
    position: static;
    padding-bottom: 60px;
    .brand {
      margin-top: 0px;
      padding-bottom: 4px;
      a {
        img {
          width: 95px;
        }
      }
    }
    .articleDesc {
      font-size: 16px;
      font-weight: bold;
    }
    ul.articleDesc,
    .leftSidebarFooterWrapper {
      display: none;
    }
  }
  .topBannerWrapper {
    margin-top: 0;
    width: 100%;
    .articleSectionTitle {
      padding-bottom: 48px;
    }
    .buttonWrapper {
      display: block;
      width: 100%;
      .commonBtn {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .lightBtn {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
        left: 0;
      }
    }
  }
  .conferenceWrapper {
    grid-template-columns: 1fr;
    .articleDesc {
      padding-bottom: 40px;
    }
    .articleSectionTitle {
      padding-right: 0;
    }
  }
  .speakersWrapper {
    .speakersHeader {
      grid-template-columns: 1fr;
      .buttonWrapper {
        display: none;
      }
    }
    .buttonWrapper {
      padding-top: 40px;
      .commonBtn {
        width: 100%;
      }
    }
    .speakersListWrapper {
      grid-template-columns: 1fr 1fr;
      gap: 0px 24px;
      width: 500px;
    }
  }
  .joinGraphQLWrapper {
    grid-template-columns: 1fr;
    .buttonWrapper {
      display: none;
    }
  }
  .speakersWrapperOverflow {
    overflow: auto;
  }
  .communityPartnersWrapper {
    .communityPartnersHeader {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
    .articleSectionTitle {
      padding-right: 0;
    }
  }
  .footerWrapper {
    ul.articleDesc {
      .darkModeBorRight,
      .lightModeBorRight {
        border-right: 0;
      }
      li {
        display: block;
        padding: 4px 0;
        text-align: center;
      }
    }
    .articleDesc {
      padding-bottom: 20px;
      text-align: center;
    }
    .footerLogoWrapper {
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .socialIconWrapper {
        position: static;
        a {
          margin: 0 14px;
        }
      }
    }
  }
  .footerPattern {
    display: block;
    img {
      width: 100%;
    }
  }
  .codeOfContentWrapper {
    width: 100%;
    .buttonWrapper {
      position: fixed;
      bottom: 32px;
      width: calc(100% - 64px);
      z-index: 1;
      .commonBtn {
        width: 100%;
      }
    }
  }
  .registerWrapper {
    width: 100%;
  }
  .detailsPageWrapper {
    width: 100%;
    .pl-40 {
      padding-left: 0 !important;
    }
    .articleSectionTitle {
      padding-bottom: 8px;
    }
    .mainSubTitle {
      padding-bottom: 32px;
      font-size: 40px;
    }
    .speakerDetails {
      .speakersProfile {
        grid-template-columns: 1fr;
        .speakersImg {
          padding-top: 16px;
          padding-right: 0;
          padding-bottom: 20px;
        }
      }
    }
    .shareWrapper {
      display: block;
      .articleDesc {
        padding-right: 0;
        padding-bottom: 20px;
      }
      .shareIconWrapper {
        .shareIcon {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .btnFixedPos {
    width: calc(100% - 64px);
    margin: 0 auto;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 5%;
    .darkBtn {
      width: 100%;
    }
  }
  .workshopWrapper {
    width: 100%;
    .articleDesc {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      img {
        margin-top: 6px;
        width: 20px;
      }
    }
    ul {
      width: 100%;
      li {
        .articleDesc {
          display: block;
        }
        .readMore {
          display: flex;
          padding-top: 8px;
          .readMoreArrow {
            margin-top: 3px;
            margin-left: 8px;
          }
        }
      }
    }
  }
  .breakWrapper {
    .articleDesc {
      display: flex;
      align-items: center;
      img {
        display: none;
      }
    }
  }
  .scheduleWrapper {
    .scheduleHeader {
      display: block;
      padding-bottom: 32px;
      .articleSubTitle {
        padding-bottom: 24px;
      }
    }
    .scheduleListHeader {
      display: none;
    }
    .scheduleListWrapper {
      .scheduleList {
        grid-template-columns: 1fr;
        padding: 24px;
        .articleDesc {
          display: flex;
          align-items: center;
          .istBtnMobile {
            display: flex;
          }
        }
        .scheduleDetailsWrapper {
          grid-template-columns: 1fr;
          grid-gap: 40px 0;
        }
        .readMore {
          display: flex;
          padding-top: 12px;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .mainGridWrapper {
    margin: 0 4%;
    grid-gap: 48px;
  }
}
@media (min-width: 1560px) {
  .scheduleWrapper {
    .scheduleListWrapper {
      .scheduleList {
        grid-template-columns: 250px 1fr;
      }
    }
  }
}
@media (min-width: 1920px) {
  .checkMailWrapper {
    height: 60px;
  }
  .btnFixedPos {
    .darkBtn {
      width: 400px;
    }
  }
  .sectionWrapper {
    padding: 120px 0;
  }
  .sectionWrapperBottom {
    padding-bottom: 120px;
  }
  .mainGridWrapper {
    margin: 0 8%;
    grid-gap: 96px;
  }
  .topBannerWrapper {
    width: 800px;
  }
  // .leftSidebarWrapper {
  //   .brand {
  //     a {
  //       img {
  //         width: 162px;
  //       }
  //     }
  //   }
  // }
  .lightModeLayout,
  .darkModeLayout {
    .pattern {
      width: 300px;
    }
  }
  .codeOfContentWrapper {
    width: 800px;
  }
  .registerWrapper {
    width: 800px;
    ul.articleDesc {
      li {
        img {
          margin-top: 20px;
        }
      }
    }
  }
  .videoWrapper {
    img {
      width: 100%;
    }
  }
  .socialIconWrapper {
    a {
      width: 35px;
    }
  }
  .modeChangeWrapper {
    img {
      width: 60px;
    }
  }
  .commonLink {
    a {
      .addIcon {
        width: 20px;
        margin-right: 20px !important;
      }
    }
  }
  .backBtnWrapper {
    .darkBtn {
      width: auto;
      padding: 15px 50px;
    }
  }
  .scheduleWrapper {
    .scheduleHeader {
      .buttonWrapper {
        .commonBtn {
          padding: 5px 40px;
          width: 300px;
          img {
            width: 25px;
            margin-right: 20px;
          }
        }
      }
    }
    .scheduleListHeader, .scheduleListWrapper {
      .scheduleList {
        .articleSectionTitle, .articleDesc {
          .istBtn {
            max-height: 60px;
            .istBtnHover {
              padding: 0 12px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 2560px) {
  .checkMailWrapper {
    height: 80px;
  }
  .sectionWrapper {
    padding: 200px 0;
  }
  .sectionWrapperBottom {
    padding-bottom: 200px;
  }
  .lightModeLayout,
  .darkModeLayout {
    .pattern {
      width: 350px;
    }
  }
  .mainGridWrapper {
    margin: 0 12%;
    grid-gap: 144px;
  }
  .topBannerWrapper {
    width: 1000px;
  }
  // .leftSidebarWrapper {
  //   .brand {
  //     a {
  //       img {
  //         width: 210px;
  //       }
  //     }
  //   }
  // }
  .codeOfContentWrapper {
    width: 1000px;
  }
  .videoWrapper {
    img {
      width: 100%;
    }
  }
  .registerWrapper {
    width: 1000px;
    ul.articleDesc {
      li {
        img {
          margin-top: 24px;
        }
      }
    }
  }
  .speakersWrapper {
    .speakersHeader {
      grid-template-columns: 1fr 450px;
    }
  }
  .joinGraphQLWrapper {
    grid-template-columns: 1fr 350px;
  }
  .commonLink {
    a {
      .addIcon {
        width: 25px;
        margin-right: 20px !important;
      }
      .arrow {
        width: 50px;
        img {
          width: 20px;
          margin-left: 24px;
        }
        .arrowIconHover {
          width: 34px;
          left: -18px;
          top: 7px;
        }
      }
    }
  }
  .scheduleWrapper {
    .scheduleListWrapper {
      .scheduleList {
        grid-template-columns: 300px 1fr;
      }
    }
  }
}
@media (min-width: 3440px) {
  .checkMailWrapper {
    height: 80px;
  }
  .btnFixedPos {
    .darkBtn {
      width: 500px;
    }
  }
  .sectionWrapper {
    padding: 250px 0;
  }
  .sectionWrapperBottom {
    padding-bottom: 250px;
  }
  .lightModeLayout,
  .darkModeLayout {
    .pattern {
      width: 450px;
    }
  }
  .mainGridWrapper {
    margin: 0 16%;
    grid-gap: 192px;
  }
  .topBannerWrapper {
    width: 1500px;
  }
  // .leftSidebarWrapper {
  //   .brand {
  //     a {
  //       img {
  //         width: 280px;
  //       }
  //     }
  //   }
  // }
  .codeOfContentWrapper {
    width: 1000px;
  }
  .videoWrapper {
    img {
      width: 100%;
    }
  }
  .registerWrapper {
    width: 1000px;
    ul.articleDesc {
      li {
        img {
          margin-top: 32px;
          width: 25px;
          min-width: 25px;
          margin-right: 30px;
        }
      }
    }
  }
  .speakersWrapper {
    .speakersHeader {
      grid-template-columns: 1fr 450px;
    }
  }
  .joinGraphQLWrapper {
    grid-template-columns: 1fr 400px;
  }
  .threeColumsWrapper {
    .threeColumsList:nth-child(3n + 4) {
      margin-top: -90px;
    }
    .threeColumsList:nth-child(3n + 2) {
      margin-top: 30px;
    }
    .threeColumsList:nth-child(3n) {
      margin-top: 160px;
    }
    .threeColumsList:nth-child(2) {
      margin-top: 160px;
    }
    .threeColumsList:nth-child(3) {
      margin-top: 360px;
    }
  }
  .commonBtn {
    img {
      width: 35px;
      margin-right: 24px;
    }
  }
  .commonLink {
    a {
      .addIcon {
        width: 30px;
        margin-right: 20px !important;
      }
    }
  }
  .socialIconWrapper {
    a {
      width: 50px;
      margin: 0 24px;
    }
  }
  .modeChangeWrapper {
    img {
      width: 80px;
    }
  }
}
@media (max-width: 767px) {
  .checkMailWrapper {
    background-size: auto;
    padding: 0 10px;
    padding-right: 120px;
    line-height: 100%;
    font-size: 16px;
    img {
      width: 15px;
    }
  }
  .sectionWrapperBottomLarge {
    padding-bottom: 0px;
  }
  .topBannerWrapper {
    .articleSectionTitle {
      padding-bottom: 48px;
    }
    .buttonWrapper {

      .lightBtn {
        width: 100%;
        position: static;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
      }
    }
  }
  .communityPartnersWrapper {
    .articleSectionTitle {
      padding-right: 0;
    }
    .partnersBrandWrapper {
      width: 100%;
      grid-template-columns: 1fr 1fr ;
      grid-gap: 40px;
    }
    .partnersBrandWrapperDisplay {
      grid-gap: 50px;
      grid-template-columns: 1fr;
      a {
        text-align: center;
      }
      .wd70 {
        width: 40%;
      }
    }
  }
}
